/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.page-content {
	margin-top: 70px;
}

.title-content {
	border: 2px solid;
	border-radius:15px;
	margin: 10px 0px;
	padding:15px 10px 15px 10px;
	background-repeat: no-repeat;
	background-position: 10px center;
	color: #00529B;
	background-color: #BDE5F8;
}
.info-content {
	border: 2px solid;
	border-radius:15px;
	margin: 10px 0px;
	padding:15px 10px 15px 10px;
	background-repeat: no-repeat;
	background-position: 10px center;
	color: #00529B;
	background-color: #BDE5F8;
	height: 150px;
}

.invitation-content {
	border: 2px solid;
	border-radius:15px;
	margin: 10px 0px;
	padding:15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
	color: #00529B;
	background-color: #BDE5F8;
}


/* Angular.js animated navigation */
  .slide-enter,
  .slide-leave
  {
	-webkit-transition: 300ms cubic-bezier(0.075, 0.820, 0.165, 1.000) all;
	-moz-transition: 300ms cubic-bezier(0.075, 0.820, 0.165, 1.000) all;
	-ms-transition: 300ms cubic-bezier(0.075, 0.820, 0.165, 1.000) all;
	-o-transition: 300ms cubic-bezier(0.075, 0.820, 0.165, 1.000) all;
	transition: 300ms cubic-bezier(0.075, 0.820, 0.165, 1.000) all;
  }
   
  .slide-enter {
	left: 100%;
  }
  .slide-enter.slide-enter-active {
	left: 0px;
  }
   
  .slide-leave {}

  .slide-leave.slide-leave-active{
  	left: -200px;
  }


.view-animate-container {
  position:relative;
  height:100px!important;
  position:relative;
  background:white;
  border:1px solid black;
  height:40px;
  overflow:hidden;
}
 
.view-animate {
  padding:10px;
}
 
.view-animate.ng-enter, .view-animate.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
 
  display:block;
  width:100%;
  border-left:1px solid black;
 
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  padding:10px;
}
 
.view-animate.ng-enter {
  left:100%;
}
.view-animate.ng-enter.ng-enter-active {
  left:0;
}
.view-animate.ng-leave.ng-leave-active {
  left:-100%;
}

.animate-show, .animate-hide {
  -webkit-transition:all linear 1s;
  -moz-transition:all linear 1s;
  -ms-transition:all linear 1s;
  -o-transition:all linear 1s;
  transition:all linear 1s;

}

.animate-show {
  opacity:0;
}

.animate-show.animate-show-active {
  opacity:1;
}

.animate-hide {
  opacity:1;
}

.animate-hide.animate-hide-active {
  opacity:0;
}

/** Invite Container carousel styling */
.invite-container {
	border: 2px solid;
	border-radius:15px;
	margin: 10px 30px 30px 30px;
	padding:15px 10px 15px 10px;
	background-repeat: no-repeat;
	background-position: 10px center;
	color: #00529B;
	background-color: lightblue;	
	height: 230px;
}

.invite-title {
	margin: 10px 10px;
	padding: 5px 10px 5px 10px;
	font-size: 20px;
}

.invite-info {
	margin: 5px 5px;
	padding: 5px 10px 5px 10px;
}

.rsvpyes {
	background-color: lightblue;	
}




