<!-- 
Description: Contact list View
 
 
 
 -->
 
<header class="bar-title">
	 <a class="button-icon" href="#/main">
		<img src="../icons/arrow-left3.png"></img>
	 </a>
	  <h1 class="title">SLAP</h1>
</header>

<div class="bar-standard bar-header-secondary">
	<form>
		<input type="search" placeholder="Search">
	</form>	
</div>

<nav class="bar-standard bar-header-tertiary">
	<ul class="segmented-controller">
		<li>
			<a href="#/groups">Groups</a>
		</li>
		<li class="active">
			<a href="#/contacts">Contacts</a>
		</li>
	</ul>
</nav>

<div class="content">

</div>