

<header class="bar-title">
	 <a class="button-icon" href="#/groups">
		<img src="../icons/arrow-left3.png"></img>
	 </a>
	  <h1 class="title">Create Group</h1>
</header>

<div class="bar-standard bar-header-secondary">
	<form>
		<input type="search" placeholder="Search">
	</form>	
</div>

<div class="content">
		<div class="content-padded">	
			<form>
				<div class="input-group">
					<div class="input-row">
						<label>Group Name:</label>
						<input type="text" value=""></input>
					</div>	
				</div>		
				<a class="button-main button-block">Finish</a>
			</form>	
		</div>
</div>