
<header class="bar-title">
	 <a class="button-icon" href="#/groups">
		<img src="../icons/arrow-left3.png"></img>
	 </a>
	  <h1 class="title">Create Group</h1>
</header>

<div class="bar-standard bar-header-secondary">
	<form>
		<input type="search" placeholder="Search">
	</form>	
</div>

<div class="content">
		<div class="content-padded">	
			<form>
				<div class="input-row">
					<input type="text" placeholder="Enter Group Name" value=""></input>
				</div>
				<!-- Put Contact query list and filter here -->	
				<ul class="list">
					<li>							
						<input name="" type="checkbox"> check </input>						
					</li>	
				</ul>						
				<a class="button-positive button-block">Finish</a>				
			</form>	
		</div>
</div>