<!-- 
Description: Create Plan View
 
 
 
 -->
 <header class="bar-title">
		 <a class="button-icon" snap-toggle="left" href="#/createplan">
			<img src="../icons/menu2.png"></img>
		 </a>
		  <h1 class="title">Create a Plan</h1>
 </header>

	<nav class="bar-tab">
		<ul class="tab-inner">
		  <li class="tab-item">
			<a href="#/main">
			  <img class="tab-icon" src="../icons/Timeline_Icon.png">
			  <div class="tab-label">Home</div>
			</a>
		  </li>
		  <li class="tab-item">
			<a href="#/myplans">
			  <img class="tab-icon" src="../icons/Event_Icon.png">
			  <div class="tab-label">Plans</div>
			</a>
		  </li>
		  <li class="tab-item active">
			<a href="#/createplan">
			  <img class="tab-icon" src="../icons/CreateAPlan_Icon.png">
			  <div class="tab-label">Create</div>
			</a>
		  </li>
		  <li class="tab-item">
			<a href="#/invites">
			  <img class="tab-icon" src="../icons/Plans_Icon.png">
			  <div class="tab-label">Invites</div>
			</a>
		  </li>
		</ul>
	</nav>
 
<div class="content">	
	<div class="content-padded">	
		<form>
			<div class="input-group">
				<div class="input-row">
					<label>Title:</label>
					<input type="text" placeholder="Plan Title" ng-model="newPlan.title" value=""></input>
				</div>	
			</div>		
			
			<textarea rows="6" placeholder="Plan Info" ng-model="newPlan.info"></textarea>
			
			<button class="button-main button-block" ng-click="addRsvpList()">Invite Friends</button>
			<button class="button-main button-block" ng-click="createPlan()">Send</button>
		</form>
	</div>
</div>

