

<snap-drawer>
	<div class="side-nav__list__container">
		<ul class="side-nav__list">
			<li ng-click="" class=" side-nav__list__item">
				<div class="side-nav__button">Home</div>
			</li>
			<li ng-click="" class="side-nav__list__item">
				<div class="side-nav__button">My Plans</div>
			</li>		
			<li ng-click="" class=" side-nav__list__item">
				<div class="side-nav__button">Groups</div>
			</li>
			<li ng-click="" class=" side-nav__list__item">
				<div class="side-nav__button">Settings</div>
			</li>
		</ul>
	</div>
</snap-drawer>