
<snap-drawer>
	<ul class="list">
	  <li class="list-divider">Menu</li>
		<li>
			<a snap-close href="#/main">
				Home
				<span class="chevron"></span>
			</a>
		</li>
		<li>
			<a snap-close href="#/myplans">
				My Plans
				<span class="chevron"></span>
			</a>
		</li>
		<li>
			<a snap-close href="#/groups">
				Groups
				<span class="chevron"></span>
			</a>
		</li>
		<li>
			<a snap-close href="#/settings">
				Settings
				<span class="chevron"></span>
			</a>
		</li>
		<li>
			<a snap-close ng-click="logout()">
				Logout
				<span class="chevron"></span>
			</a>
		</li>
	</ul>
</snap-drawer>