<!-- 
Description: Groups View
 
 
 
 -->
 
<header class="bar-title">
	 <a class="button-icon" href="#/main">
		<img src="../icons/arrow-left3.png"></img>
	 </a>
	  <h1 class="title">SLAP</h1>
</header>

<div class="bar-standard bar-header-secondary">
	<form>
		<input type="search" placeholder="Search">
	</form>	
</div>

<nav class="bar-standard bar-header-tertiary">
	<ul class="segmented-controller">
		<li id="groups-btn" class="active">
			<a href="#/groups">Groups</a>
		</li>
		<li id="contacts-btn">
			<a href="#/contacts">Contacts</a>
		</li>
	</ul>
</nav>

<div class="bar-standard bar-footer">
	<a href="#/groups/create" class="button-main button-block">Create Group +</a>
</div>

<div class="content content-low">

	
</div>