<!-- 
 View Description: MyPlans View
 
 
 
 -->
 
 <header class="bar-title">
		 <a class="button-icon" snap-toggle="left" href="#/myplans">
			<img src="../icons/menu2.png"></img>
		 </a>
		  <h1 class="title">Plans</h1>
 </header>

	<nav class="bar-tab">
		<ul class="tab-inner">
		  <li class="tab-item">
			<a href="#/main">
			  <img class="tab-icon" src="../icons/Timeline_Icon.png">
			  <div class="tab-label">Home</div>
			</a>
		  </li>
		  <li class="tab-item active">
			<a href="#/myplans">
			  <img class="tab-icon" src="../icons/Event_Icon.png">
			  <div class="tab-label">Plans</div>
			</a>
		  </li>
		  <li class="tab-item">
			<a href="#/createplan">
			  <img class="tab-icon" src="../icons/CreateAPlan_Icon.png">
			  <div class="tab-label">Create</div>
			</a>
		  </li>
		  <li class="tab-item">
			<a href="#/invites">
			  <img class="tab-icon" src="../icons/Plans_Icon.png">
			  <div class="tab-label">Invites</div>
			</a>
		  </li>
		</ul>
	</nav>
	
<div class="content">
	<ul class="list">
		<li class="list-divider">Plan's You Created</li>
		<li ng-show="!ready">
			Receiving Data...
		</li>
		<li ng-show="ready" ng-repeat="plan in myplans | filter:title">
			 <strong style="font-size:18px;">{{plan.title}}</strong>
			 <p style="font-size:16px;">{{plan.info}}</p>			 
		</li>	 
	</ul>
</div>