<?xml version='1.0' encoding='utf-8'?>
<widget id="com.slap.alpha" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SlapAlpha</name>
    <description>
        Alpha version of Slap mobile web app.
    </description>
    <author email="ryanriebling@gmail.com" href="http://ryanriebling.com">
        Ryan Riebling
    </author>
    <content src="index.html" />
     <feature name="Contacts">
  	  <param name="ios-package" value="CDVContacts" />
	</feature>
	<feature name="Notification">
	    <param name="ios-package" value="CDVNotification" />
	    <param name="ios-package" value="CDVVibration" />
	</feature>
	<feature name="Logger">
   		<param name="ios-package" value="CDVLogger" />
	</feature>

	<feature name="NetworkStatus">
    	<param name="ios-package" value="CDVConnection" />
	</feature>
	<feature name="SplashScreen">
	    <param name="ios-package" value="CDVSplashScreen" />
	</feature>
    <access origin="*" />
</widget>
